<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
      <!-- Core -->
      <extension point="org.eclipse.emf.ecore.extension_parser">
            <parser class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory" type="ly"/>
            <parser class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory" type="ily"/>
            <parser class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory" type="lyi"/>
      </extension>
      <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
            <resourceServiceProvider class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider" uriExtension="ly"/>
            <resourceServiceProvider class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider" uriExtension="ily"/>
            <resourceServiceProvider class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider" uriExtension="lyi"/>
      </extension>
      <!-- Compiler -->
      <extension point="org.eclipse.xtext.builder.participant">
            <participant class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.elysium.ui.compiler.LilyPondBuilder"/>
      </extension>
      <extension point="org.eclipse.core.runtime.preferences">
            <initializer class="org.elysium.ui.compiler.preferences.CompilerPreferenceInitializer"/>
            <initializer class="org.elysium.ui.compiler.updater.preferences.SyntaxUpdaterPreferenceInitializer"/>
      </extension>
      <extension point="org.eclipse.ui.preferencePages">
            <page class="org.elysium.ui.preferences.EmptyPreferencePage" id="org.elysium.ui.preferencePages.LilyPond" name="LilyPond">
                  <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
            </page>
            <page category="org.elysium.ui.preferencePages.LilyPond" class="org.elysium.ui.compiler.preferences.CompilerPreferencePage" id="org.elysium.ui.preferencePages.Compiler" name="Compiler">
                  <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
            </page>
            <page category="org.elysium.ui.preferencePages.Compiler" class="org.elysium.ui.compiler.updater.preferences.SyntaxUpdaterPreferencePage" id="org.elysium.ui.preferencePages.SyntaxUpdater" name="Syntax Updater">
                  <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
            </page>
      </extension>
      <extension point="org.eclipse.ui.decorators">
            <decorator class="org.elysium.ui.compiler.outdated.OutdatedDecorator" id="org.elysium.ui.decorators.Outdated" label="LilyPond Outdated Files" lightweight="true" state="true">
                  <description>Marks LilyPond files which need to be recompiled.</description>
            </decorator>
      </extension>
      <extension point="org.eclipse.core.resources.markers" id="markers.LilyPondProblem" name="LilyPond Problem">
            <super type="org.eclipse.core.resources.problemmarker"/>
            <persistent value="true"/>
      </extension>
      <extension point="org.eclipse.core.resources.markers" id="markers.Outdated" name="Outdated">
            <super type="org.eclipse.core.resources.marker"/>
            <persistent value="true"/>
      </extension>
      <extension point="org.eclipse.ui.ide.markerImageProviders">
            <imageprovider icon="icons/outdated/Marker.png" id="org.elysium.ui.markerImageProviders.Outdated" markertype="org.elysium.ui.markers.Outdated"/>
      </extension>
      <extension point="org.eclipse.ui.commands">
            <command id="org.elysium.ui.commands.RecompileCurrent" name="Recompile Current"/>
            <command id="org.elysium.ui.commands.RecompileSelected" name="Recompile"/>
      </extension>
      <extension point="org.eclipse.ui.handlers">
            <handler class="org.elysium.ui.compiler.handlers.RecompileCurrentHandler" commandId="org.elysium.ui.commands.RecompileCurrent">
                  <activeWhen>
                        <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                  </activeWhen>
            </handler>
            <handler class="org.elysium.ui.compiler.handlers.RecompileSelectedHandler" commandId="org.elysium.ui.commands.RecompileSelected">
                  <activeWhen>
                        <with variable="selection">
                              <not>
                                    <count value="0"/>
                              </not>
                        </with>
                  </activeWhen>
            </handler>
      </extension>
      <extension point="org.eclipse.ui.commandImages">
            <image commandId="org.elysium.ui.commands.RecompileCurrent" icon="icons/compiler/Command.png"/>
            <image commandId="org.elysium.ui.commands.RecompileSelected" icon="icons/compiler/Command.png"/>
      </extension>
      <extension point="org.eclipse.ui.bindings">
            <key commandId="org.elysium.ui.commands.RecompileCurrent" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+T"/>
      </extension>
      <!-- Editor -->
      <extension point="org.eclipse.ui.editors">
            <editor class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor" contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor" default="true" extensions="ly,ily,lyi" icon="icons/Editor.png" name="LilyPond Editor" id="org.elysium.LilyPond">
                  <!-- TODO rename to org.elysium.ui.editors.LilyPond as soon as the editor ID can differ from the language name (bug 309437) -->
                  </editor>
      </extension>
      <extension point="org.eclipse.core.expressions.definitions">
            <definition id="org.elysium.ui.definitions.EditorOpen">
                  <and>
                        <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                        <with variable="activeEditor">
                              <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" value="org.elysium.LilyPond" forcePluginActivation="true"/>
                        </with>
                  </and>
            </definition>
      </extension>
      <extension point="org.eclipse.ui.commands">
            <command description="Trigger expensive validation" id="org.elysium.ui.commands.Validate" name="Validate"/>
            <command description="Open the quick outline" id="org.eclipse.xtext.ui.editor.outline.QuickOutline" name="Quick Outline"/>
      </extension>
      <extension point="org.eclipse.ui.handlers">
            <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler" commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
                  <activeWhen>
                        <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                  </activeWhen>
            </handler>
            <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler" commandId="org.elysium.ui.commands.Validate">
                  <activeWhen>
                        <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                  </activeWhen>
            </handler>
            <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler" commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
                  <activeWhen>
                        <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                  </activeWhen>
            </handler>
            <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler" commandId="org.eclipse.xtext.ui.editor.FindReferences">
                  <activeWhen>
                        <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                  </activeWhen>
            </handler>
      </extension>
      <extension point="org.eclipse.ui.preferencePages">
            <page category="org.elysium.ui.preferencePages.LilyPond" class="org.elysium.ui.preferences.EmptyPreferencePage" id="org.elysium.ui.preferencePages.Editor" name="Editor">
                  <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
            </page>
            <page category="org.elysium.ui.preferencePages.Editor" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage" id="org.elysium.ui.preferencePages.SyntaxColoring" name="Syntax Coloring">
                  <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
            </page>
            <page category="org.elysium.ui.preferencePages.Editor" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage" id="org.elysium.ui.preferencePages.Templates" name="Templates">
                  <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
            </page>
      </extension>
      <extension point="org.eclipse.ui.ide.markerResolution">
            <markerResolutionGenerator class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"/>
      </extension>
      <!-- Score Library View -->
      <extension point="org.eclipse.ui.views">
            <view category="org.elysium.ui.viewCategories.LilyPond" class="org.eclipse.ui.navigator.CommonNavigator" icon="icons/library/View.png" id="org.elysium.ui.views.ScoreLibrary" name="Score Library" restorable="true"/>
      </extension>
      <extension point="org.eclipse.ui.navigator.viewer">
            <viewer viewerId="org.elysium.ui.views.ScoreLibrary" inheritBindingsFromViewer="org.eclipse.ui.navigator.ProjectExplorer"/>
            <viewerContentBinding viewerId="org.elysium.ui.views.ScoreLibrary">
                  <includes>
                        <contentExtension pattern="org.elysium.ui.filters.NonLilyPondProjects"/>
                        <contentExtension pattern="org.elysium.ui.sorters.ByExtension"/>
                  </includes>
                  <excludes>
                        <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.endsWithClass"/>
                        <contentExtension pattern="org.eclipse.jdt.java.ui.javaContent"/>
                        <contentExtension pattern="org.eclipse.jdt.java.ui.filters.*"/>
                        <contentExtension pattern="org.eclipse.jdt.java.ui.javaLinkHelper"/>
                  </excludes>
            </viewerContentBinding>
      </extension>
      <extension point="org.eclipse.ui.navigator.viewer">
            <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
                  <includes>
                        <contentExtension pattern="org.elysium.ui.filters.LilyPondProjects"/>
                  </includes>
            </viewerContentBinding>
      </extension>
      <extension point="org.eclipse.ui.navigator.navigatorContent">
            <commonFilter activeByDefault="true" id="org.elysium.ui.filters.NonLilyPondProjects" name="Non-LilyPond projects" visibleInUI="false">
                  <filterExpression>
                        <not>
                              <test property="org.eclipse.core.resources.projectNature" value="org.elysium.ui.natures.LilyPond"/>
                        </not>
                  </filterExpression>
            </commonFilter>
            <commonFilter id="org.elysium.ui.filters.LilyPondProjects" name="LilyPond projects" class="org.elysium.ui.library.LilyPondProjectViewerFilter"/>
            <navigatorContent icon="icons/library/Sorter.png" id="org.elysium.ui.sorters.ByExtension" name="Sort By Extension" sortOnly="true">
                  <commonSorter class="org.elysium.ui.library.ByExtensionSorter"/>
            </navigatorContent>
      </extension>
      <extension point="org.eclipse.jdt.ui.javaElementFilters">
            <filter id="org.elysium.ui.javaElementFilters.LilyPondProjects" name="LilyPond projects" enabled="true" class="org.elysium.ui.library.LilyPondProjectViewerFilter"/>
      </extension>
      <!-- Main File -->
      <extension point="org.eclipse.ui.commands">
            <command id="org.elysium.ui.commands.SetMainFileToCurrent" name="Set Main File To Current"/>
            <command defaultHandler="org.elysium.ui.mainfile.handlers.UnsetMainFileHandler" id="org.elysium.ui.commands.UnsetMainFile" name="Unset Main File"/>
            <command defaultHandler="org.elysium.ui.mainfile.handlers.BrowseMainFileHandler" id="org.elysium.ui.commands.BrowseMainFile" name="Browse Main File"/>
            <command defaultHandler="org.elysium.ui.mainfile.handlers.OpenMainFileHandler" id="org.elysium.ui.commands.OpenMainFile" name="Open Main File"/>
            <command id="org.elysium.ui.commands.SetAsMainFile" name="Set As Main File"/>
      </extension>
      <extension point="org.eclipse.ui.handlers">
            <handler class="org.elysium.ui.mainfile.handlers.SetMainFileToCurrentHandler" commandId="org.elysium.ui.commands.SetMainFileToCurrent">
                  <enabledWhen>
                        <with variable="activeEditorInput">
                              <adapt type="org.eclipse.core.resources.IFile">
                                    <test property="org.eclipse.core.resources.extension" value="ly"/>
                              </adapt>
                        </with>
                  </enabledWhen>
            </handler>
            <handler class="org.elysium.ui.mainfile.handlers.SetAsMainFileHandler" commandId="org.elysium.ui.commands.SetAsMainFile">
                  <activeWhen>
                        <with variable="selection">
                              <and>
                                    <count value="1"/>
                                    <iterate>
                                          <instanceof value="org.eclipse.core.resources.IFile"/>
                                          <test property="org.eclipse.core.resources.extension" value="ly"/>
                                    </iterate>
                              </and>
                        </with>
                  </activeWhen>
            </handler>
      </extension>
      <extension point="org.eclipse.ui.commandImages">
            <image commandId="org.elysium.ui.commands.SetMainFileToCurrent" icon="icons/mainfile/SetToCurrent.png"/>
            <image commandId="org.elysium.ui.commands.UnsetMainFile" icon="icons/mainfile/Unset.png"/>
            <image commandId="org.elysium.ui.commands.BrowseMainFile" icon="icons/mainfile/Browse.png"/>
            <image commandId="org.elysium.ui.commands.OpenMainFile" icon="icons/mainfile/Open.png"/>
            <image commandId="org.elysium.ui.commands.SetAsMainFile" icon="icons/mainfile/MainFile.png"/>
      </extension>
      <extension point="org.eclipse.ui.bindings">
            <key commandId="org.elysium.ui.commands.SetMainFileToCurrent" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+M2+M"/>
      </extension>
      <extension point="org.eclipse.ui.decorators">
            <decorator class="org.elysium.ui.mainfile.MainFileDecorator" id="org.elysium.ui.decorators.MainFile" label="LilyPond Main File" lightweight="true" state="true">
                  <description>Marks the main LilyPond file.</description>
            </decorator>
      </extension>
      <!-- Score View -->
      <extension point="org.eclipse.ui.views">
            <view category="org.elysium.ui.viewCategories.LilyPond" class="org.eclipse.ui.views.file.FileView" icon="icons/score/View.png" id="org.elysium.ui.views.Score" name="Score" restorable="true"/>
      </extension>
      <extension point="org.eclipse.ui.views.file.bindings">
            <binding errorMessage="No score found.&#10;Enter some music and save the LilyPond source to see the score.&#10;Make sure the \layout block exists besides the \midi block." type="org.elysium.ui.score.ScoreViewType" viewId="org.elysium.ui.views.Score">
                  <fileExtension extension="pdf"/>
                  <source id="org.elysium.ui.sources.CurrentScore"/>
                  <source id="org.elysium.ui.sources.MainFileScore"/>
                  <source id="org.eclipse.ui.views.file.sources.Direct"/>
                  <source id="org.eclipse.ui.views.file.sources.Selected"/>
            </binding>
      </extension>
      <extension point="org.eclipse.ui.views.file.sources">
            <source class="org.elysium.ui.score.CurrentScoreViewSource" icon="icons/sources/Current.png" id="org.elysium.ui.sources.CurrentScore"/>
            <source class="org.elysium.ui.score.MainFileScoreViewSource" icon="icons/sources/MainFile.png" id="org.elysium.ui.sources.MainFileScore"/>
      </extension>
      <!-- Audio View -->
      <extension point="org.eclipse.ui.views">
            <view category="org.elysium.ui.viewCategories.LilyPond" class="org.eclipse.ui.views.file.FileView" icon="icons/audio/View.png" id="org.elysium.ui.views.Audio" name="Audio" restorable="true"/>
      </extension>
      <extension point="org.eclipse.ui.views.file.bindings">
            <binding errorMessage="No audio found.&#10;Enter some music and save the LilyPond source to hear the audio.&#10;Make sure the \midi block exists besides the \layout block." type="org.elysium.ui.audio.AudioViewType" viewId="org.elysium.ui.views.Audio">
                  <fileExtension extension="midi"/>
                  <source id="org.elysium.ui.sources.CurrentAudio"/>
                  <source id="org.elysium.ui.sources.MainFileAudio"/>
                  <source id="org.eclipse.ui.views.file.sources.Direct"/>
                  <source id="org.eclipse.ui.views.file.sources.Selected"/>
            </binding>
      </extension>
      <extension point="org.eclipse.ui.views.file.sources">
            <source class="org.elysium.ui.audio.CurrentAudioViewSource" icon="icons/sources/Current.png" id="org.elysium.ui.sources.CurrentAudio"/>
            <source class="org.elysium.ui.audio.MainFileAudioViewSource" icon="icons/sources/MainFile.png" id="org.elysium.ui.sources.MainFileAudio"/>
      </extension>
      <extension point="org.eclipse.ui.menus">
            <menuContribution allPopups="false" locationURI="toolbar:org.elysium.ui.views.Audio"> <!-- TODO move before menu -->
                  <command commandId="org.eclipse.ui.views.midi.commands.PlayPause" style="push" icon="platform:/plugin/org.eclipse.ui.views.midi/icons/Play.png">
                        <parameter name="org.eclipse.ui.views.midi.commands.PlayPause.view" value="org.elysium.ui.views.Audio"/>
                  </command>
            </menuContribution>
      </extension>
      <extension point="org.eclipse.ui.bindings">
            <key commandId="org.eclipse.ui.views.midi.commands.PlayPause" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="SHIFT+CTRL+P">
                  <parameter id="org.eclipse.ui.views.midi.commands.PlayPause.view" value="org.elysium.ui.views.Audio"/>
            </key>
      </extension>
      <!-- Project -->
      <extension id="natures.LilyPond" name="LilyPond Nature" point="org.eclipse.core.resources.natures">
            <runtime>
                  <run class="org.elysium.ui.project.LilyPondNature"/>
            </runtime>
      </extension>
      <extension point="org.eclipse.ui.decorators">
            <decorator class="org.elysium.ui.project.LilyPondProjectDecorator" id="org.elysium.ui.decorators.Project" label="LilyPond Projects" lightweight="true" state="true">
                  <description>Marks projects with LilyPond nature.</description>
            </decorator>
      </extension>
      <!-- Wizards -->
      <extension point="org.eclipse.ui.newWizards">
            <category id="org.elysium.ui.newWizardCategories.LilyPond" name="LilyPond"/>
            <wizard category="org.elysium.ui.newWizardCategories.LilyPond" class="org.elysium.ui.wizard.NewLilyPondProjectWizard" finalPerspective="org.elysium.ui.perspectives.LilyPond" icon="icons/wizard/Icon.png" id="org.elysium.ui.newWizards.LilyPondProject" name="LilyPond Project" project="true"/>
      </extension>
      <!-- Rename Refactoring -->
      <extension point="org.eclipse.ui.handlers">
            <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler" commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
                  <activeWhen>
                        <reference definitionId="org.elysium.ui.definitions.EditorOpen"> </reference>
                  </activeWhen>
            </handler>
      </extension>
      <extension point="org.eclipse.ui.menus">
            <menuContribution locationURI="popup:#TextEditorContext?after=group.edit">
                  <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement" style="push">
                        <visibleWhen checkEnabled="false">
                              <reference definitionId="org.elysium.ui.definitions.EditorOpen"> </reference>
                        </visibleWhen>
                  </command>
            </menuContribution>
      </extension>
      <extension point="org.eclipse.ui.preferencePages">
            <page category="org.elysium.ui.preferencePages.LilyPond" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage" id="org.elysium.LilyPond.refactoring" name="Refactoring">
                  <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
            </page>
      </extension>
      <!-- Compare -->
      <extension point="org.eclipse.compare.contentViewers">
            <viewer id="org.elysium.LilyPond.compare.contentViewers" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator" extensions="ly,ily,lyi"> </viewer>
      </extension>
      <extension point="org.eclipse.compare.contentMergeViewers">
            <viewer id="org.elysium.LilyPond.compare.contentMergeViewers" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator" extensions="ly,ily,lyi" label="LilyPond Compare"> </viewer>
      </extension>
      <extension point="org.eclipse.ui.editors.documentProviders">
            <provider id="org.elysium.LilyPond.editors.documentProviders" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider" extensions="ly,ily,lyi"> </provider>
      </extension>
      <!-- Global -->
      <extension point="org.eclipse.ui.views">
            <category id="org.elysium.ui.viewCategories.LilyPond" name="LilyPond"/>
      </extension>
      <extension point="org.eclipse.ui.perspectives">
            <perspective class="org.elysium.ui.LilyPondPerspective" icon="icons/Perspective.png" id="org.elysium.ui.perspectives.LilyPond" name="LilyPond"/>
      </extension>
      <extension point="org.eclipse.ui.perspectiveExtensions">
            <perspectiveExtension targetID="org.elysium.ui.perspectives.LilyPond">
                  <view id="org.elysium.ui.views.ScoreLibrary" minimized="false" ratio="0.2" relationship="left" relative="org.eclipse.ui.editorss"/>
                  <view id="org.eclipse.ui.views.ContentOutline" minimized="false" ratio="0.54" relationship="bottom" relative="org.elysium.ui.views.ScoreLibrary"/>
                  <view id="org.eclipse.ui.views.ProblemView" minimized="false" ratio="0.75" relationship="bottom" relative="org.eclipse.ui.editorss"/>
                  <view id="org.eclipse.ui.console.ConsoleView" minimized="false" relationship="stack" relative="org.eclipse.ui.views.ProblemView"/>
                  <view id="org.elysium.ui.views.Score" minimized="false" ratio="0.54" relationship="right" relative="org.eclipse.ui.editorss"/>
                  <view id="org.elysium.ui.views.Audio" minimized="false" ratio="0.54" relationship="right" relative="org.eclipse.ui.views.ProblemView"/>
                  <viewShortcut id="org.elysium.ui.views.Score"/>
                  <viewShortcut id="org.elysium.ui.views.Audio"/>
                  <viewShortcut id="org.elysium.ui.views.ScoreLibrary"/>
                  <newWizardShortcut id="org.elysium.ui.newWizards.LilyPondProject"/>
            </perspectiveExtension>
      </extension>
      <extension point="org.eclipse.ui.menus">
            <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
                  <menu id="org.elysium.ui.menus.LilyPond" label="LilyPond">
                        <visibleWhen checkEnabled="false">
                              <with variable="activeWorkbenchWindow.activePerspective">
                                    <equals value="org.elysium.ui.perspectives.LilyPond"/>
                              </with>
                        </visibleWhen>
                        <command commandId="org.elysium.ui.commands.RecompileCurrent" style="push"/>
                        <menu icon="icons/mainfile/MainFile.png" label="Main File">
                              <command commandId="org.elysium.ui.commands.SetMainFileToCurrent" label="Set To Current" style="push"/>
                              <command commandId="org.elysium.ui.commands.UnsetMainFile" label="Unset" style="push"/>
                              <command commandId="org.elysium.ui.commands.BrowseMainFile" label="Browse..." style="push"/>
                              <command commandId="org.elysium.ui.commands.OpenMainFile" label="Open" style="push"/>
                        </menu>
                  </menu>
            </menuContribution>
            <menuContribution locationURI="popup:org.elysium.ui.views.ScoreLibrary">
                  <menu label="LilyPond">
                        <visibleWhen checkEnabled="false">
                              <with variable="activeWorkbenchWindow.activePerspective">
                                    <equals value="org.elysium.ui.perspectives.LilyPond"/>
                              </with>
                        </visibleWhen>
                        <command commandId="org.elysium.ui.commands.RecompileSelected"/>
                        <command commandId="org.elysium.ui.commands.SetAsMainFile"/>
                  </menu>
            </menuContribution>
            <menuContribution locationURI="popup:#TextEditorContext?after=group.open">
                  <command commandId="org.elysium.ui.commands.Validate" style="push" tooltip="Trigger expensive validation">
                        <visibleWhen checkEnabled="false">
                              <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                        </visibleWhen>
                  </command>
                  <command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline" style="push" tooltip="Open Quick Outline">
                        <visibleWhen checkEnabled="false">
                              <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                        </visibleWhen>
                  </command>
            </menuContribution>
            <menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
                  <command commandId="org.eclipse.xtext.ui.editor.FindReferences">
                        <visibleWhen checkEnabled="false">
                              <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
                        </visibleWhen>
                  </command>
            </menuContribution>
            <menuContribution locationURI="toolbar:org.eclipse.ui.trim.status">
                  <toolbar id="org.elysium.ui.toolbars.MainFile">
                        <control class="org.elysium.ui.mainfile.MainFileControlContribution">
                              <visibleWhen checkEnabled="false">
                                    <with variable="activeWorkbenchWindow.activePerspective">
                                          <equals value="org.elysium.ui.perspectives.LilyPond"/>
                                    </with>
                              </visibleWhen>
                        </control>
                  </toolbar>
            </menuContribution>
      </extension>
      <extension point="org.eclipse.ui.keywords">
            <keyword id="org.elysium.ui.keywords.LilyPond" label="LilyPond"/>
      </extension>
</plugin>
