<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!-- Core -->
  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory" type="ly">
  </parser>
    <parser class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory" type="ily">
  </parser>
  </extension>
  <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
    <resourceServiceProvider class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider" uriExtension="ly">
  </resourceServiceProvider>
    <resourceServiceProvider class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider" uriExtension="ily">
  </resourceServiceProvider>
  </extension>
  <!-- Compiler -->
  <extension point="org.eclipse.xtext.builder.participant">
    <participant class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.elysium.ui.compiler.LilyPondBuilder">
  </participant>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.elysium.ui.compiler.preferences.CompilerPreferenceInitializer">
  </initializer>
    <initializer class="org.elysium.ui.compiler.updater.preferences.SyntaxUpdaterPreferenceInitializer">
  </initializer>
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
    <page class="org.elysium.ui.preferences.EmptyPreferencePage" id="org.elysium.ui.preferencePages.LilyPond" name="LilyPond">
      <keywordReference id="org.elysium.ui.keywords.LilyPond">
   </keywordReference>
    </page>
    <page category="org.elysium.ui.preferencePages.LilyPond" class="org.elysium.ui.compiler.preferences.CompilerPreferencePage" id="org.elysium.ui.preferencePages.Compiler" name="Compiler">
      <keywordReference id="org.elysium.ui.keywords.LilyPond">
   </keywordReference>
    </page>
    <page category="org.elysium.ui.preferencePages.Compiler" class="org.elysium.ui.compiler.updater.preferences.SyntaxUpdaterPreferencePage" id="org.elysium.ui.preferencePages.SyntaxUpdater" name="Syntax Updater">
      <keywordReference id="org.elysium.ui.keywords.LilyPond">
   </keywordReference>
    </page>
  </extension>
  <extension point="org.eclipse.ui.decorators">
    <decorator class="org.elysium.ui.compiler.outdated.OutdatedDecorator" id="org.elysium.ui.decorators.Outdated" label="LilyPond Outdated Files" lightweight="true" state="true">
      <description>Marks LilyPond files which need to be recompiled.</description>
    </decorator>
  </extension>
  <extension point="org.eclipse.core.resources.markers" id="markers.LilyPondProblem" name="LilyPond Problem">
    <super type="org.eclipse.core.resources.problemmarker">
  </super>
    <persistent value="true">
  </persistent>
  </extension>
  <extension point="org.eclipse.core.resources.markers" id="markers.Outdated" name="Outdated">
    <super type="org.eclipse.core.resources.marker">
  </super>
    <persistent value="true">
  </persistent>
  </extension>
  <extension point="org.eclipse.ui.ide.markerImageProviders">
    <imageprovider icon="icons/outdated/Marker.png" id="org.elysium.ui.markerImageProviders.Outdated" markertype="org.elysium.ui.markers.Outdated">
  </imageprovider>
  </extension>
  <!-- Editor -->
  <extension point="org.eclipse.ui.editors">
    <editor class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor" contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor" default="true" extensions="ly,ily" icon="icons/Editor.png" name="LilyPond Editor" id="org.elysium.LilyPond">
      <!-- TODO rename to org.elysium.ui.editors.LilyPond as soon as the editor ID can differ from the language name (bug 309437) -->
    </editor>
  </extension>
  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="org.elysium.ui.definitions.EditorOpen">
      <and>
        <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
        <with variable="activeEditor">
          <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" value="org.elysium.LilyPond" forcePluginActivation="true"/>
        </with>
      </and>
    </definition>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command description="Trigger expensive validation" id="org.elysium.ui.commands.Validate" name="Validate">
  </command>
    <command description="Open the quick outline" id="org.eclipse.xtext.ui.editor.outline.QuickOutline" name="Quick Outline">
  </command>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler" commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
      <activeWhen>
        <reference definitionId="org.elysium.ui.definitions.EditorOpen">
    </reference>
      </activeWhen>
    </handler>
    <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler" commandId="org.elysium.ui.commands.Validate">
      <activeWhen>
        <reference definitionId="org.elysium.ui.definitions.EditorOpen">
    </reference>
      </activeWhen>
    </handler>
    <handler class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler" commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
      <activeWhen>
        <reference definitionId="org.elysium.ui.definitions.EditorOpen">
    </reference>
      </activeWhen>
    </handler>
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
    <page category="org.elysium.ui.preferencePages.LilyPond" class="org.elysium.ui.preferences.EmptyPreferencePage" id="org.elysium.ui.preferencePages.Editor" name="Editor">
      <keywordReference id="org.elysium.ui.keywords.LilyPond">
   </keywordReference>
    </page>
    <page category="org.elysium.ui.preferencePages.Editor" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage" id="org.elysium.ui.preferencePages.SyntaxColoring" name="Syntax Coloring">
      <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
    </page>
    <page category="org.elysium.ui.preferencePages.Editor" class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage" id="org.elysium.ui.preferencePages.Templates" name="Templates">
      <keywordReference id="org.elysium.ui.keywords.LilyPond"/>
    </page>
  </extension>
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator class="org.elysium.ui.LilyPondExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
  </markerResolutionGenerator>
  </extension>
  <!-- Score Library View -->
  <extension point="org.eclipse.ui.views">
    <view category="org.elysium.ui.viewCategories.LilyPond" class="org.eclipse.ui.navigator.CommonNavigator" icon="icons/library/View.png" id="org.elysium.ui.views.ScoreLibrary" name="Score Library" restorable="true">
  </view>
  </extension>
  <extension point="org.eclipse.ui.navigator.viewer">
    <viewer viewerId="org.elysium.ui.views.ScoreLibrary" inheritBindingsFromViewer="org.eclipse.ui.navigator.ProjectExplorer">
  </viewer>
    <viewerContentBinding viewerId="org.elysium.ui.views.ScoreLibrary">
      <includes>
        <contentExtension pattern="org.elysium.ui.filters.NonLilyPondProjects">
    </contentExtension>
        <contentExtension pattern="org.elysium.ui.sorters.ByExtension">
    </contentExtension>
      </includes>
      <excludes>
        <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.endsWithClass">
      </contentExtension>
      </excludes>
    </viewerContentBinding>
    <viewerContentBinding viewerId="org.eclipse.jdt.ui.PackageExplorer">
      <includes>
        <contentExtension pattern="org.elysium.ui.filters.LilyPondProjects">
    </contentExtension>
      </includes>
    </viewerContentBinding>
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <commonFilter activeByDefault="true" id="org.elysium.ui.filters.NonLilyPondProjects" name="Non-LilyPond projects" visibleInUI="false">
      <filterExpression>
        <not>
          <test property="org.eclipse.core.resources.projectNature" value="org.elysium.ui.natures.LilyPond">
     </test>
        </not>
      </filterExpression>
    </commonFilter>
    <commonFilter activeByDefault="false" id="org.elysium.ui.filters.LilyPondProjects" name="LilyPond projects" visibleInUI="true">
      <filterExpression>
        <test property="org.eclipse.core.resources.projectNature" value="org.elysium.ui.natures.LilyPond">
     </test>
      </filterExpression>
    </commonFilter>
    <navigatorContent icon="icons/library/Sorter.png" id="org.elysium.ui.sorters.ByExtension" name="Sort By Extension" sortOnly="true">
      <commonSorter class="org.elysium.ui.library.ByExtensionSorter">
   </commonSorter>
    </navigatorContent>
  </extension>
  <!-- Main File -->
  <extension point="org.eclipse.ui.commands">
    <command id="org.elysium.ui.commands.SetMainFileToCurrent" name="Set Main File To Current">
  </command>
    <command defaultHandler="org.elysium.ui.mainfile.handlers.UnsetMainFileHandler" id="org.elysium.ui.commands.UnsetMainFile" name="Unset Main File">
  </command>
    <command defaultHandler="org.elysium.ui.mainfile.handlers.BrowseMainFileHandler" id="org.elysium.ui.commands.BrowseMainFile" name="Browse Main File">
  </command>
    <command defaultHandler="org.elysium.ui.mainfile.handlers.OpenMainFileHandler" id="org.elysium.ui.commands.OpenMainFile" name="Open Main File">
  </command>
    <command id="org.elysium.ui.commands.SetAsMainFile" name="Set As Main File">
  </command>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler class="org.elysium.ui.mainfile.handlers.SetMainFileToCurrentHandler" commandId="org.elysium.ui.commands.SetMainFileToCurrent">
      <enabledWhen>
        <with variable="activeEditorInput">
          <adapt type="org.eclipse.core.resources.IFile">
            <test property="org.eclipse.core.resources.extension" value="ly">
            </test>
          </adapt>
        </with>
      </enabledWhen>
    </handler>
    <handler class="org.elysium.ui.mainfile.handlers.SetAsMainFileHandler" commandId="org.elysium.ui.commands.SetAsMainFile">
      <activeWhen>
        <with variable="selection">
          <and>
            <count value="1">
            </count>
            <iterate>
              <instanceof value="org.eclipse.core.resources.IFile">
               </instanceof>
              <test property="org.eclipse.core.resources.extension" value="ly">
               </test>
            </iterate>
          </and>
        </with>
      </activeWhen>
    </handler>
  </extension>
  <extension point="org.eclipse.ui.commandImages">
    <image commandId="org.elysium.ui.commands.SetMainFileToCurrent" icon="icons/mainfile/SetToCurrent.png">
  </image>
    <image commandId="org.elysium.ui.commands.UnsetMainFile" icon="icons/mainfile/Unset.png">
  </image>
    <image commandId="org.elysium.ui.commands.BrowseMainFile" icon="icons/mainfile/Browse.png">
  </image>
    <image commandId="org.elysium.ui.commands.OpenMainFile" icon="icons/mainfile/Open.png">
  </image>
    <image commandId="org.elysium.ui.commands.SetAsMainFile" icon="icons/mainfile/MainFile.png">
  </image>
  </extension>
  <extension point="org.eclipse.ui.bindings">
    <key commandId="org.elysium.ui.commands.SetMainFileToCurrent" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+M2+M">
  </key>
  </extension>
  <extension point="org.eclipse.ui.decorators">
    <decorator class="org.elysium.ui.mainfile.MainFileDecorator" id="org.elysium.ui.decorators.MainFile" label="LilyPond Main File" lightweight="true" state="true">
      <description>Marks the main LilyPond file.</description>
    </decorator>
  </extension>
  <!-- Score View -->
  <extension point="org.eclipse.ui.views">
    <view category="org.elysium.ui.viewCategories.LilyPond" class="org.eclipse.ui.views.file.FileView" icon="icons/score/View.png" id="org.elysium.ui.views.Score" name="Score" restorable="true">
  </view>
  </extension>
  <extension point="org.eclipse.ui.views.file.bindings">
    <binding errorMessage="No score found.&#10;Enter some music and save the LilyPond source to see the score.&#10;Make sure the \layout block exists besides the \midi block." type="org.elysium.ui.score.ScoreViewType" viewId="org.elysium.ui.views.Score">
      <fileExtension extension="pdf">
       </fileExtension>
      <source id="org.elysium.ui.sources.CurrentScore">
       </source>
      <source id="org.elysium.ui.sources.MainFileScore">
       </source>
      <source id="org.eclipse.ui.views.file.sources.Direct">
       </source>
      <source id="org.eclipse.ui.views.file.sources.Selected">
       </source>
    </binding>
  </extension>
  <extension point="org.eclipse.ui.views.file.sources">
    <source class="org.elysium.ui.score.CurrentScoreViewSource" icon="icons/sources/Current.png" id="org.elysium.ui.sources.CurrentScore">
    </source>
    <source class="org.elysium.ui.score.MainFileScoreViewSource" icon="icons/sources/MainFile.png" id="org.elysium.ui.sources.MainFileScore">
    </source>
  </extension>
  <!-- Audio View -->
  <extension point="org.eclipse.ui.views">
    <view category="org.elysium.ui.viewCategories.LilyPond" class="org.eclipse.ui.views.file.FileView" icon="icons/audio/View.png" id="org.elysium.ui.views.Audio" name="Audio" restorable="true">
  </view>
  </extension>
  <extension point="org.eclipse.ui.views.file.bindings">
    <binding errorMessage="No audio found.&#10;Enter some music and save the LilyPond source to hear the audio.&#10;Make sure the \midi block exists besides the \layout block." type="org.elysium.ui.audio.AudioViewType" viewId="org.elysium.ui.views.Audio">
      <fileExtension extension="midi">
       </fileExtension>
      <source id="org.elysium.ui.sources.CurrentAudio">
       </source>
      <source id="org.elysium.ui.sources.MainFileAudio">
       </source>
      <source id="org.eclipse.ui.views.file.sources.Direct">
       </source>
      <source id="org.eclipse.ui.views.file.sources.Selected">
       </source>
    </binding>
  </extension>
  <extension point="org.eclipse.ui.views.file.sources">
    <source class="org.elysium.ui.audio.CurrentAudioViewSource" icon="icons/sources/Current.png" id="org.elysium.ui.sources.CurrentAudio">
    </source>
    <source class="org.elysium.ui.audio.MainFileAudioViewSource" icon="icons/sources/MainFile.png" id="org.elysium.ui.sources.MainFileAudio">
    </source>
  </extension>
  <!-- Project -->
  <extension id="natures.LilyPond" name="LilyPond Nature" point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.elysium.ui.project.LilyPondNature">
   </run>
    </runtime>
  </extension>
  <extension point="org.eclipse.ui.decorators">
    <decorator class="org.elysium.ui.project.LilyPondProjectDecorator" id="org.elysium.ui.decorators.Project" label="LilyPond Projects" lightweight="true" state="true">
      <description>Marks projects with LilyPond nature.</description>
    </decorator>
  </extension>
  <!-- Wizards -->
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.elysium.ui.newWizardCategories.LilyPond" name="LilyPond">
  </category>
    <wizard category="org.elysium.ui.newWizardCategories.LilyPond" class="org.elysium.ui.wizard.NewLilyPondProjectWizard" finalPerspective="org.elysium.ui.perspectives.LilyPond" icon="icons/wizard/Icon.png" id="org.elysium.ui.newWizards.LilyPondProject" name="LilyPond Project" project="true">
  </wizard>
  </extension>
  <!-- Global -->
  <extension point="org.eclipse.ui.views">
    <category id="org.elysium.ui.viewCategories.LilyPond" name="LilyPond">
  </category>
  </extension>
  <extension point="org.eclipse.ui.perspectives">
    <perspective class="org.elysium.ui.LilyPondPerspective" icon="icons/Perspective.png" id="org.elysium.ui.perspectives.LilyPond" name="LilyPond">
  </perspective>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.elysium.ui.perspectives.LilyPond">
      <view id="org.elysium.ui.views.ScoreLibrary" minimized="false" ratio="0.2" relationship="left" relative="org.eclipse.ui.editorss">
   </view>
      <view id="org.eclipse.ui.views.ContentOutline" minimized="false" ratio="0.54" relationship="bottom" relative="org.elysium.ui.views.ScoreLibrary">
   </view>
      <view id="org.eclipse.ui.views.ProblemView" minimized="false" ratio="0.75" relationship="bottom" relative="org.eclipse.ui.editorss">
   </view>
      <view id="org.eclipse.ui.console.ConsoleView" minimized="false" relationship="stack" relative="org.eclipse.ui.views.ProblemView">
   </view>
      <view id="org.elysium.ui.views.Score" minimized="false" ratio="0.54" relationship="right" relative="org.eclipse.ui.editorss">
   </view>
      <view id="org.elysium.ui.views.Audio" minimized="false" ratio="0.54" relationship="right" relative="org.eclipse.ui.views.ProblemView">
   </view>
      <viewShortcut id="org.elysium.ui.views.Score">
   </viewShortcut>
      <viewShortcut id="org.elysium.ui.views.Audio">
   </viewShortcut>
      <viewShortcut id="org.elysium.ui.views.ScoreLibrary">
   </viewShortcut>
      <newWizardShortcut id="org.elysium.ui.newWizards.LilyPondProject">
   </newWizardShortcut>
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu id="org.elysium.ui.menus.LilyPond" label="LilyPond">
        <visibleWhen checkEnabled="false">
          <with variable="activeWorkbenchWindow.activePerspective">
            <equals value="org.elysium.ui.perspectives.LilyPond">
      </equals>
          </with>
        </visibleWhen>
        <menu icon="icons/mainfile/MainFile.png" label="Main File">
          <command commandId="org.elysium.ui.commands.SetMainFileToCurrent" label="Set To Current" style="push">
     </command>
          <command commandId="org.elysium.ui.commands.UnsetMainFile" label="Unset" style="push">
     </command>
          <command commandId="org.elysium.ui.commands.BrowseMainFile" label="Browse..." style="push">
     </command>
          <command commandId="org.elysium.ui.commands.OpenMainFile" label="Open" style="push">
     </command>
        </menu>
      </menu>
    </menuContribution>
    <menuContribution locationURI="popup:org.elysium.ui.views.ScoreLibrary">
      <menu label="LilyPond">
        <visibleWhen checkEnabled="false">
          <with variable="activeWorkbenchWindow.activePerspective">
            <equals value="org.elysium.ui.perspectives.LilyPond">
      </equals>
          </with>
        </visibleWhen>
        <command commandId="org.elysium.ui.commands.SetAsMainFile">
    </command>
      </menu>
    </menuContribution>
    <menuContribution locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.elysium.ui.commands.Validate" style="push" tooltip="Trigger expensive validation">
        <visibleWhen checkEnabled="false">
          <reference definitionId="org.elysium.ui.definitions.EditorOpen">
     </reference>
        </visibleWhen>
      </command>
      <command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline" style="push" tooltip="Open Quick Outline">
        <visibleWhen checkEnabled="false">
          <reference definitionId="org.elysium.ui.definitions.EditorOpen"/>
        </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
      <command commandId="org.eclipse.xtext.ui.editor.FindReferences">
        <visibleWhen checkEnabled="false">
          <reference definitionId="org.elysium.ui.definitions.EditorOpen">
     </reference>
        </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution locationURI="toolbar:org.eclipse.ui.trim.status">
      <toolbar id="org.elysium.ui.toolbars.MainFile">
        <control class="org.elysium.ui.mainfile.MainFileControlContribution">
          <visibleWhen checkEnabled="false">
            <with variable="activeWorkbenchWindow.activePerspective">
              <equals value="org.elysium.ui.perspectives.LilyPond">
       </equals>
            </with>
          </visibleWhen>
        </control>
      </toolbar>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.keywords">
    <keyword id="org.elysium.ui.keywords.LilyPond" label="LilyPond"/>
  </extension>
</plugin>
