<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.lilypond.ide.perspectives.LilyPondPerspective"
            icon="icons/perspectives/LilyPond.png"
            id="org.eclipse.lilypond.ide.perspectives.LilyPond"
            name="LilyPond">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.lilypond.ide.perspectives.LilyPond">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.lilypond.ide.views.Score"
               minimized="false"
               ratio="0.65"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.lilypond.ide.viewCategories.LilyPond"
            name="LilyPond">
      </category>
      <view
            category="org.eclipse.lilypond.ide.viewCategories.LilyPond"
            class="org.eclipse.lilypond.ide.views.score.ScoreView"
            icon="icons/views/Score.png"
            id="org.eclipse.lilypond.ide.views.Score"
            name="Score"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Compiles the currently open file with LilyPond"
            id="org.eclipse.lilypond.ide.commands.compile"
            name="&amp;Compile">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.lilypond.ide.handlers.CompileHandler"
            commandId="org.eclipse.lilypond.ide.commands.compile">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.lilypond.ide.commands.compile"
            icon="icons/commands/Compile.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.lilypond.ide.commands.compile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.lilypond.ide.toolbar">
            <command
                  commandId="org.eclipse.lilypond.ide.commands.compile"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.lilypond.LilyPond">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.lilypond.ide.menu"
               label="&amp;LilyPond">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.lilypond.LilyPond">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="org.eclipse.lilypond.ide.commands.compile"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.lilypond.ide.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.lilypond.LilyPond"
            class="org.eclipse.lilypond.ide.preferencePages.ExecutionPreferencePage"
            id="org.eclipse.lilypond.ide.preferencePages.execution"
            name="Execution">
         <keywordReference
               id="org.lilypond.ui.keyword_LilyPond">
         </keywordReference>
      </page>
   </extension>
 <extension
       point="org.eclipse.ui.activities">
    <activity
          id="org.eclipse.lilypond.ide.activities.editing"
          name="LilyPond Editing">
    </activity>
    <activityPatternBinding
          activityId="org.eclipse.lilypond.ide.activities.editing"
          pattern="org.eclipse.lilypond.ui/org.lilypond.LilyPond.coloring">
    </activityPatternBinding>
 </extension>
 <extension
       id="org.lilypond.problemMarker"
       name="LilyPond Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <attribute
          name="columnNumber">
    </attribute>
 </extension>
</plugin>
